body.custom-background {
    background: #ECF0F1;
}

.site {
    background: transparent;
    max-width: 100%;
}

.pl-header {
    height: 400px;
    background: url('../img/penguins-fpo.jpg') 10% 20% no-repeat;
    background-size: 100%;
}

.site-header {
    background-color: #2C3E50;
    height: 80px;
    opacity: .95;
    border-bottom: 5px solid #3B97D3;
}

.info-section {
    text-align: center;
    color: white;
    font-size: 1.3em;
    background-color: #3B97D3;
    padding: 10px;
    width: 200px;
    display: none;
    margin: 0 auto;
}

.info-text, .help-text, .latest-news {
    display: none;
    width: 80%;
    margin: 0 auto;
    color: #2C3E50;
    font-size: 1em;
    background: white;
    opacity: 1;
    padding: 20px;
    line-height: 1.3em;
    border-bottom: 3px solid #BDC3C7;
}

.info-text {
    position: static;
    margin-top: 10em;
}

.help-text {
    margin-top: 12em;
    display: block;
}

.latest-news-header {
    text-align: center;
    color: #2C3E50;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
}

.latest-news {
    display: block;
    margin-top: 1.5em;
    padding: 0px;
    border-bottom: none;

}

#site_nav li {
    float: left;
}

#site_nav li a {
    display: inline-block;
    overflow: hidden;
}

#site_nav li a .label {
    display: inline-block;
    height: 15px;
    padding: 27px 15px 25px;
    color: white;
    font-size: 1em;
    font-weight: bold;

}

.highlight-blue {
    background-color: #1AB1D1;
    padding: 6px 8px;
    border-radius: 2px;
    color: #fff;
}

.highlight-blue:hover {
    background-color: #3B97D3;
}

.highlight-orange {
    background-color: #F7941E;
    padding: 6px 8px;
    border-radius: 2px;
    color: #fff;
}

.highlight-orange:hover {
    background-color: #E57E25;
}

#site_nav li a:hover .label {
    color: #1AB1D1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.site-content article {
    border-bottom: none;
}

.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image {
    border-radius: 0;
    box-shadow: none;
}

/*animation parts*/

.annotate {
    background-image: url("../img/front-page/annotate.png");
    background-repeat: no-repeat;
    height: 320px;
}

.adopt {
    background-image: url("../img/front-page/adopt.png");
    background-repeat: no-repeat;
    height: 320px;
}

#mark0, #mark1, #mark2, #mark3, #mark4, #mark5, #mark6, #mark7, #mark8, #mark9 {
    visibility: visible;
    opacity: 0;
}

.regularMark {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #F7941E;
}

.regularMark:hover {
    background-color: #1AB1D1;
}

.blueMark {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #1AB1D1;
}

#marksContainer {
    display: block;
    overflow: visible;
    position: relative;
}

#adoptMarksContainer {
    display: block;
    overflow: visible;
    position: relative;
}

#mark0 {
    width: 367px;
    height: 260px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

#mark1 {
    position: absolute;
    margin-top: -75px;
    right: 265px;
}

#mark2 {
    position: absolute;
    margin-top: -85px;
    right: 272px;
}

#mark3 {
    position: absolute;
    margin-top: -80px;
    right: 277px;
}

#mark4 {
    position: absolute;
    margin-top: -90px;
    right: 262px;
}

#mark5 {
    position: absolute;
    margin-top: -85px;
    right: 157px;
}

#mark6 {
    position: absolute;
    margin-top: -100px;
    right: 143px;
}

#mark6 {
    position: absolute;
    margin-top: -100px;
    right: 193px;
}

#mark7 {
    position: absolute;
    margin-top: -240px;
    right: 20px;
}

#mark8 {
    position: absolute;
    background-image: url("../img/front-page/camera.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 200px;
    margin-top: 180px;
    right: 134px;
}

.scoreFledglings {
    background-color: rgba(26, 177, 209, 0.8);
    padding: 5px;
    font-size: 0.9em;
    border-radius: 4px;
    color: #fff;
}

.scoreAdults {
    background-color: rgba(247, 148, 30, 0.8);
    padding: 5px;
    font-size: 0.9em;
    border-radius: 4px;
    color: #fff;
    margin-left: 5px;
}

.player-button {
    padding: 4px;
    border-radius: 4px;
    background-color: #1AB1D1;
    color: #fff;
}

.player-button:hover {
    background-color: #333;
    color: #fff;
}


.blog-post {
    width: 50%;
    float: left;
    opacity: .9;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    cursor: pointer;
}

.blog-post:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.picture_and_title {
    width: 100%;
    height: 200px;
}

.blog-post-item-content {
    padding: 20px;
    color: white;
}

.blog-post .date {
    text-shadow: 1px 1px 1px rgba(44, 44, 44, 1);
}
.blog-post a {
    text-decoration: none;
}
.blog-post .title {
    margin-top: 90px;
    background-color: #3B97D3;
    padding: 6px 10px;
    font-size: 1.2em;
    opacity: .9;
    vertical-align: bottom;
    text-decoration: none;
}

.site-content article {
    width: 80%;
    margin: 0 auto;
}
